/*main structures*/
body {
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url(back2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100hv;
    margin-right: 17%;
}

/*user information*/
#me {
    position: sticky;
    top: 0;
    z-index: 999;
    padding: 10px 10px;
    background-color: whitesmoke;
    margin-top: -92%;
    margin-right: 0%;
}

/*user information*/
.wrapper {
    border: 2px solid #333;
    padding: 30px 40px;
    background: transparent;
    border-radius: 20px;
    align-items: center;
    color: #333;
    position: relative;
    border: 2px solid rgba(76, 75, 75, 0.2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
    background-color: #7f96b7;
}

.wrapper h1 {
    font-size: 36px;
    text-align: center;
}

.wrapper .input-box {
    width: 100%;
    height: 50px;
    margin: 30px 0;
    background-color: #8d9db3;
    border-radius: 20px;
    border: 5px dashed #8d9db3;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px dashed rgb(40, 53, 118);
    border-radius: 20px;
    font-size: 16px;
    color: #333;
    padding: 4px 9px 4px 4px;
}

.input-box input ::placeholder {
    color: #fff;
}

.input-box span {
    position: absolute;
    right: 40px;
    transform: translateY(-50%);
    font-size: 20px;
    margin-top: -30px;
}

.wrapper .btn {
    width: 100%;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-weight: 600;
}

.wrapper #credit,
.wrapper #deliver {
    width: 50%;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-weight: 600;
}

/*where the user puts his thoughts on delivary*/
#textData {
    position: relative;
    width: 100%;
    height: 70px;
    margin-bottom: 10px;
}

/*the inside of credit button*/
.hidden {
    display: none;
}

#inputField1,
#inputField2 {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(116, 77, 77, 0.2);
    border-radius: 20px;
    font-size: 16px;
    color: #333;
    padding: 4px 9px 4px 4px;
}

/*main buttons*/
.btns {
    padding: 20px;
    position: relative;
    width: 100%;
    height: 70px;
    border: 2px dotted transparent;
}

.btn2 {
    width: 50%;
    height: 45px;
    position: absolute;
    padding: 5px;
    top: 0;
    right: 20px;

}

.btn1 {
    width: 50%;
    height: 45px;
    position: absolute;
    padding: 5px;
    top: 0;
    left: 20px;

}

#deliver.clicked {
    background-color: rgb(72, 188, 72);
    /* Color after click */
}

/*products place*/
.products {
    position: relative;
    border: 2px dashed rgb(109, 131, 240);
    padding: 5px 5px;
    width: 100%;
    height: 200px;
}

.products .product1 {
    position: absolute;
    top: 70px;
    left: 30px;
}

.products .product2 {
    position: absolute;
    top: 70px;
    right: 40px;
}

/*products icon*/
#n {
    position: absolute;
    right: 40px;
    transform: translateY(-50%);
    font-size: 20px;
    margin-top: -30px;
}

/*comment icon*/
#nn {
    position: absolute;
    right: 6px;
    transform: translateY(-50%);
    font-size: 20px;
    margin-top: -30px;
}
#message {
    display: none;
    position: relative;
    background-color: rgba(11, 11, 11, 0.7);
    /* White with transparency */
    padding: 10px;
    border-radius: 5px;
    color: black;
    /* White text */
}

.closeButton {
    position: absolute;
    top: 5px;
    right: 5px;
    background: none;
    border: none;
    color: red;
    /* White close button */
    font-size: 16px;
    cursor: pointer;
}
