h2{
    background-color:  white;
    text-align:  center;
    font-weight: 900;
  }
  .table-container  {
    margin:  20px auto;
    width:80%;
  }
   table{
 width: 100%;
 border-collapse:  collapse;
 background-color:grey;
   } 
   th,td{
     border : 1px solid #ddd;
     padding: 8px;
     text-align:  center;
   }
   th{
     background-color:#f2f2f2;
   }
   body{
    font-family: 'Courier New', Courier, monospace;
    font-size: xx-large;
    font-weight: 900;
     background-color:skyblue;
   }
   .center{
     margin:  20px auto;
     width: 85%;
     border:9px solid white;
     padding:50px;
   }
   tr{
     background-color:grey;
   }
   input{
     font-size:25px;
   }
   :root
{
    --grey :#d7d8e6;
    --blue :rgb(40,53,118);
    --darkblue :rgb(40,53,118);
    --darkgrey :#141619;
    --white : #F5F5F5;

}
nav/*top bar*/
{
background-color: var(--darkblue);
color: var(--white);
padding: 20px 40px;
position: fixed;
position: sticky;
top: 0;
z-index: 100;
}
.navTop
{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.layers
{
    height: 100%;
    width: 300px;
    position: absolute;
    background-color: var(--darkblue);
    transition: 0.5s ease;
    transform: translateX(-150%);
    padding-bottom: 550px; /* Added to create the illusion of 100% height */
}
.layers h1
{
    color: var(--white);
    font-weight: 800;
    text-align: right;
    padding: 5px 0;
    padding-right: 30px;
    pointer-events: none;
}
.layers ul li
{
    list-style: none;
}
.layers ul li a
{
    color: var(--white);
    background-color: var(--darkblue);
    text-decoration: none;
    padding: 0;
    display: block;
    text-transform: capitalize;
    transition: all 0.3s ease;
    font-size: 30px;
    
}
.layers ul li a:hover
{
    background-color: var(--grey);
    color: var(--blue);
}
.layers ul li a i
{
    width: 40px;
    text-align: center;
}
.navItem {
    position: relative;
}


.toggle {
    position: relative;
    height: 30px;
    width: 30px;
    background-color: var(--white);
    cursor: pointer;
    border-radius: 2px;
    top: 2px;
    left: 15px;
    z-index: 1;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.6);
}

.toggle .common {
    position: absolute;
    height: 2px;
    width: 20px;
    background-color: var(--darkblue);
    border-radius: 50px;
    transition: 0.3s ease;
}

.toggle .top_line {
    top: 30%;
    left: 50%;
    transform: translate(-50% , -50%);
    color: var(--darkblue);
}

.toggle .middel_line {
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    color: var(--darkblue);
}

.toggle .bottom_line {
    top: 70%;
    left: 50%;
    transform: translate(-50% , -50%);
    color: var(--darkblue);
}

.navItem input[type="checkbox"] {
    display: none;
}
.navItem input:checked ~ .toggle .top_line {
    left: 2px;
    top: 14px;
    width: 25px;
    transform: rotate(45deg);
}

.navItem input:checked ~ .toggle .bottom_line {
    left: 2px;
    top: 14px;
    width: 25px;
    transform: rotate(-45deg);
}

.navItem input:checked ~ .toggle .middel_line {
    opacity: 0;
    transform: translateX(20px)
}

.navItem input:checked ~ .layers {
    transform: translateX(0);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}
.find/*search bar*/
{
    display: flex;
    align-items: center;
    background-color: var(--grey);
    padding: 7px 20px;
    border-radius: 10px;
    background-color: var(--white);
}
.searchInput
{
    border: none;
    color: var(--darkblue);
    background-color: var(--white);
}
.navItem button /*log in button*/
{
    font-size: 20px;
    border-bottom: 2px solid  var(--white);
    cursor: pointer;
    background-color:transparent;
    color: var(--white);
    border-radius: 10%;
}
.navBottom
{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.products {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: none; /* Hide the products block by default */
}


.products li a {
    border: 1px solid ; 
    margin-top: -1px; 
    background-color: var(--white);
    padding: 12px; 
    text-decoration: none; 
    font-size: 15px; 
    color: var(--darkgrey); 
    display: block; 
}

.products li a:hover:not(.header) {
    background-color: var(--grey); 
}
.footer
{
    background-color: var(--blue);
    padding: 70px 0;
}
.footer-container
{
    max-width: 1170px;
    background-color: var(--blue);
    margin: auto;
}
ul
{
    list-style: none;
}
.footer-col
{
    width: 25%;
    padding: 0 15px;
}
.footer-row
{
    display: flex;
    flex-wrap: wrap;
}
.footer-col h4
{
    font-size: 18px;
    color: var(--white);
    text-transform: capitalize;
    margin-bottom: 30px;
    font-weight: 500px;
    position: relative;
}
.footer-col h4 ::before
{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: var(--white);
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}
.footer-col ul li:not(:last-child)
{
    margin-bottom: 10px;
}
.footer-col ul li a
{
    font-size: 16px;
    text-transform: capitalize;
    color: var(--white);
    text-decoration: none;
    font-weight: 300;
    display: block;
    transition: all 0.3s ease;
}
.footer-col ul li a:hover/*moving transition*/
{
    color: var(--grey);
    padding-left: 10px;
}
.footer-col .social-links a/*original */
{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: var(--darkgrey);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: var(--white);
    transition: all 0.5s ease;
}
.footer-col .social-links a:hover/*after effect*/
{
    color: var(--darkgrey);
    background-color: var(--white);
}
.feedbackcontainer {
    width: 500px;
    background: var(--grey);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
    border-radius: 20%;
    margin-left: 400px;
    margin-bottom: 8%;
    
}

.feedbackcontainer form {
    width: 100%;
    text-align: center;
    padding: 25px 20px;
    margin: bottom 10px; 
}

.feedbackcontainer form h1 {
    padding: 10px 0;
    text-align: center;
    color: var(--white);
}

.feedbackcontainer form .userfeedback {
    position: relative;
}

.feedbackcontainer form .userfeedback i {
    position: absolute;
    font: 20px;
    top: 50%;
    right: 35px;
    transform: translateY(-50%);
    
}

.feedbackcontainer form input {
    width: 50%;
    height: 50px;
    margin: 4px 0;
    border:  1px solid var(--white);
    border-radius: 3px;
    background: var(--white);
    padding: 0 15px;
    padding-right: 45px;
    font-size: 20px;
    z-index: 50;
}

.feedbackcontainer form textarea {
    padding: 5px 15px;
    border:  1px solid var(--darkgrey);
    border-radius: 3px;
    background: var(--white);
    padding: 0 15px;
    font-size: 20px;
    width: 70%;
}

.feedbackcontainer form button {
    margin-top: 5px;
    border: none;
    background: var(--white);
    color: #000;
    padding: 10px 0;
    width: 60%;
    font-size: 20px;
    font-weight: 800;
    cursor: pointer;
    border-radius: 3px;
    border: 10%;
}
#feedback
{
    background-color: var(--white);
}
.products {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: none; /* Hide the products block by default */
}


.products li a {
    border: 1px solid ; 
    margin-top: -1px; 
    background-color: var(--white);
    padding: 12px; 
    text-decoration: none; 
    font-size: 15px; 
    color: var(--darkgrey); 
    display: block; 
}

.products li a:hover:not(.header) {
    background-color: var(--grey); 
}