    :root{
      --bg: #a5855f;
      --text: #d5c5c8;
      --btn: #827081;
      --table: #ede6df;
      --std:  rgb(182, 153, 92);
      --visit: rgb(241, 202, 144);
      --hover: rgb(228, 243, 142);
      --active: rgb(243, 206, 86);
      --dark: #18140e;
    }

    body {
      background-color: var(--bg);
      font-family: "Trebruchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
      font-weight: 700;
      text-align: center;
    }
    /*for the main heading / name of page*/
    h1 {
      color: var(--dark);
      background-image: url('HeaderBG1.jpeg');
      font-size: 60px;
      text-decoration: underline;
      height: 100px;
    }
    /*for the hide details buttons*/
    button {
      font-family: "Trebruchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
      font-weight: 700;
      font-size: 25px; 
      padding: 10px;
      background-color: var(--btn);
      border-radius: 8px;
      cursor: pointer;
    }

    img {
      height: 100%;
      width: 100%;
      cursor: pointer;
    }

    img:hover {
      box-shadow: 10px 10px 10px 30px rgba(0, 0, 0, 0.2);
    }

    p {
      font-size: 25px; 
      letter-spacing: -1px; 
      background-color: var(--text);
    }
    /*the class of the biggest div in each row*/
    .container {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
    }
    /*the div for the text*/
    .small {
      display: none;
      background-color: var(--text);
      margin: 0px 0px 10px 0px;
    }
    /*the div for the images that get displayed 2 in a row*/
    .one {
      height: 700px;
      display: flex;
      flex: 0 0 49.5%;
      margin: 0 0 10px 0;
    }
    /*the div inside the container div that contains all the images in the three image rows*/
    .four {
      height: 500px;
      display: flex;
      position: relative;
      flex: 0 0 99.9%;
    }

    iframe {
      position: fixed;
      left: 0px;
      bottom: 0px; 
      height: 50px;
      width: 100%;
    }
    /*the div for each image in the rows with 2 images*/
    .five {
      height: 500px;
      display: flex;
      flex: 0 0 32.9%;
      justify-content: space-between;
      margin: 0 0 10px 0;
    }
    /*table heading*/
    h2 {
      color: var(--dark);
      font-size: 30px;
      text-decoration: underline;
      height: 100px;
    }

    th, td, table {
      color: var(--dark);
      border: 2px solid var(--dark);
      border-collapse: collapse;
      font-size: large;
    }
    table {
    width: 100%;
    border-radius: 10px;
    background-color: var(--table);
    }
    
    tr {
        padding: 8px;
    }

    /* unvisited link */
    a:link {
      color: var(--std);
    }

/* visited link */
    a:visited {
      color: var(--visit);
    }

/* mouse over link */
    a:hover {
      color: var(--hover);
    }

/* selected link */
    a:active {
      color: var(--active);
    }
