/* the main structures*/
* {
    margin: 2px;
    padding: 2px;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/*the body structures*/
body,
header {
    background-image: url(mback.jpg);
    position: relative;
    top: -10px;
    border-radius: 20px;
    background-position: center;
    background-color: #d7d8e6;

}

/*the header*/
.head {
    position: relative;
    text-align: right;
    background-color: #a5855f;
    background-image: url(souq.jpg);
    height: 450px;
    width: 80%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: -10px;
    text-shadow: #24262b;
    box-shadow: #24262b;
    margin-top: 15px;
    border: 2px solid #333;

}

.head p {
    position: absolute;
    right: 0;
    bottom: 0;
    text-align: center;
    font-size: 16px;
    color: #ccc;
}

/*the topic*/
.head h1,
.head span {
    font-size: 55px;
    text-shadow: 1px 1px 2px black, 0 0 25px rgb(176, 104, 173), 0 0 5px rgb(79, 79, 181);
    color: #ccc;

}

/*moving transition*/
.head :hover {

    padding-right: 20px;
    padding-bottom: 20px;
    padding-top: 20px;
}

/*inside the blocks structures*/
.music {
    border-radius: 40px;
    float: inline-end;
    right: 5px;
    top: 2%;
}

.row {
    position: relative;
    border: 1px solid black;
    display: inline-block;
    width: 940px;
    height: 340px;
}

.myimage {
    position: absolute;
    float: left;
    width: 50%;
    height: 50%;
    padding: 0px 5px;
    height: 75%;
    width: 40%;
}

.heading {
    top: 9%;
    right: 1%;
    padding: 10px;
    position: absolute;
    float: top right;
    width: 57%;
    border-radius: 20px;
}

.row1 {
    position: relative;
    border: 1px solid black;
    display: inline-block;
}

.myimage1 {
    position: absolute;
    float: left;
    width: 40%;
    height: 80%;
    padding: 0px 5px;
}

.heading1 {
    top: 10%;
    right: 1%;
    padding: 10px;
    position: absolute;
    float: top right;
    width: 57%;
    border-radius: 20px;
}

.row2 {
    position: relative;
    border: 1px solid black;
    display: inline-block;
}

.myimage2 {
    position: absolute;
    border-radius: 20px;

    float: left;
    width: 50%;
    height: 50%;
    padding: 0px 5px;
}

.heading2 {
    top: 11%;
    right: 1%;
    padding: 10px;
    position: absolute;
    float: top right;
    width: 57%;
    border-radius: 20px;
}

.row3 {
    position: relative;
    border: 1px solid black;
    display: inline-block;
}

.myimage3 {
    position: absolute;
    float: left;
    width: 50%;
    height: 50%;
    padding: 0px 5px;
}

.heading3 {
    top: 10%;
    right: 1%;
    padding: 10px;
    position: absolute;
    float: top right;
    width: 57%;
    border-radius: 20px;
}

.row4 {
    position: relative;
    border: 1px solid black;
    display: inline-block;
}

.myimage4 {
    position: absolute;
    float: left;
    width: 35%;
    height: 35%;
    padding: 0px 5px;
}

.heading4 {
    top: 10%;
    right: 1%;
    padding: 10px;
    position: absolute;
    float: top right;
    width: 57%;
    border-radius: 20px;
}

.row5 {
    position: relative;
    border: 1px solid black;
    display: inline-block;
}

.myimage5 {
    position: absolute;
    ;
    float: left;
    width: 50%;
    height: 50%;
    padding: 0px 5px;
}

.heading5 {
    top: 10%;
    right: 1%;
    padding: 10px;
    position: absolute;
    float: top right;
    width: 57%;
    border-radius: 20px;
}

.row6 {
    position: relative;
    border: 1px solid black;
    display: inline-block;
}

.myimage6 {
    position: absolute;
    float: left;
    width: 50%;
    height: 50%;
    padding: 0px 5px;
}

.heading6 {
    top: 10%;
    right: 1%;
    padding: 10px;
    position: absolute;
    float: top right;
    width: 57%;
    border-radius: 20px;
}

.row7 {
    position: relative;
    border: 1px solid black;
    display: inline-block;
}

.myimage7 {
    position: absolute;
    float: left;
    width: 40%;
    height: 80%;
    padding: 0px 5px;

}

.heading7 {
    top: 10%;
    right: 1%;
    padding: 10px;
    position: absolute;
    float: top right;
    width: 57%;
    border-radius: 20px;
}

.myimage8 {
    position: absolute;
    float: left;
    width: 50%;
    height: 50%;
    padding: 0px 5px;
}

.heading8 {
    top: 10%;
    right: 1%;
    padding: 10px;
    position: absolute;
    float: top right;
    width: 57%;
    border-radius: 20px;
}

.row9 {
    position: relative;
    border: 1px solid black;
    display: inline-block;
}

.myimage9 {
    position: absolute;
    float: left;
    width: 50%;
    height: 50%;
    padding: 0px 5px;
}

.heading9 {
    top: 10%;
    right: 1%;
    padding: 10px;
    position: absolute;
    float: top right;
    width: 57%;
    border-radius: 20px;
}

.row8 {
    position: relative;
    border: 1px solid black;
    display: inline-block;
}


.row10 {
    position: relative;
    border: 1px solid black;
    display: inline-block;
    height: 600px;
}

.myimage10 {
    position: absolute;
    float: left;
    width: 50%;
    height: 50%;
    padding: 0px 5px;

}

.heading10 {
    top: 10%;
    right: 1%;
    padding: 10px;
    position: absolute;
    float: top right;
    width: 57%;
    border-radius: 20px;
}

/*outside the blocks structures*/
.row,
.row1,
.row2,
.row3,
.row4,
.row5,
.row6,
.row7,
.row8,
.row9,
.row10 {
    left: 5%;
    position: relative;
    border-radius: 20px;
    width: 940px;
    background-color: rgba(102, 77, 49, 0.1);
    border: 2px solid #333;
    padding: 20px;
    margin: 20px;
    display: inline-block;
    clear: both;
    height: 40%;
}

/*the photos*/
.myimage,
.myimage1,
.myimage2,
.myimage3,
.myimage4,
.myimage5,
.myimage6,
.myimage7,
.myimage8,
.myimage9,
.myimage10 {
    position: relative;
    border-radius: 20px;
}


.myimage2,
.myimage3,
.myimage5,
.myimage6,
.myimage7,
.myimage8,
.myimage9,
.myimage10 {
    border-radius: 20px;
    height: 80%;
    width: 40%;
}


/*the hover for every block*/
.row :hover {
    background-color: rgba(102, 77, 49, 0.3);
}

.row1 :hover {
    background-color: rgba(102, 77, 49, 0.3);
}

.row2 :hover {
    background-color: rgba(102, 77, 49, 0.3);
}


.row3 :hover {
    background-color: rgba(102, 77, 49, 0.3);
}

.row4 :hover {
    background-color: rgba(102, 77, 49, 0.3);
}

.row5 :hover {
    background-color: rgba(102, 77, 49, 0.3);
}

.row6 :hover {
    background-color: rgba(102, 77, 49, 0.3);
}

.row7 :hover {
    background-color: rgba(102, 77, 49, 0.3);
}

.row8 :hover {
    background-color: rgba(102, 77, 49, 0.3);
}

.row9 :hover {
    background-color: rgba(102, 77, 49, 0.3);
}

.row10 :hover {
    background-color: rgba(102, 77, 49, 0.3);
}

/*structures for the content*/
.heading,
.heading1,
.heading2,
.heading3,
.heading4,
.heading5,
.heading6,
.heading7,
.heading8,
.heading9,
.heading10 {
    text-align: left;
    background-color: rgba(102, 77, 49, 0.3);
}

/*iframe structure*/
iframe {
    position: relative;
    border-radius: 20px;
    position: absolute;
    top: 200px;
    /* Adjust as needed */
    right: 0;
    /* Place iframe on the very right */
    width: 300px;
    /* Adjust width as needed */
    height: 94%;
    /* Adjust height as needed */
    background-color: whitesmoke;
}


/*the stars*/
.star {
    font-size: 19px;
    color: gold;
}

/*table structure*/
table {
    border-spacing: 0;
    border: 1px solid rgb(87, 63, 41);
    border-radius: 25px;

}

.table {
    bottom: 400px;
    position: absolute;
    left: 0;
    border: 3px rgb(87, 63, 41);
    border-radius: 10px;
    background-color: rgb(87, 63, 41);
    margin-bottom: 0%;
}

th,
td {
    padding: 10px 25px;
    text-align: left;
}

td {
    border-top: 1px solid #ccc;
    background-color: #a5855f;
}

th {
    background-color: #d7d8e6;
}

tbody tr:nth-child(odd) {
    background-color: #f2f2f2
}

tfoot {
    font-weight: 700
}

/*every button structures*/
button {
    border-radius: 20px;
    cursor: pointer;
}

/*the owner information*/
#me {
    position: sticky;
    margin-top: -70px;
    z-index: 999;
    padding: 10px 10px;
    margin-left: 87%;
    background-color: #a5855f;
}

/*the footer structure*/
.footer {
    background-color: #a5855f;
    padding: 70px 0;
    margin-top: 20%;
}

.footer-container {
    max-width: 1170px;
    background-color: #a5855f;
    margin: auto;
    bottom: 0;
}

ul {
    list-style: none;
}

.footer-col {
    width: 25%;
    padding: 0 15px;
}

.footer-row {
    display: flex;
    flex-wrap: wrap;
}

.footer-col h4 {
    font-size: 18px;
    color: #fff;
    text-transform: capitalize;
    margin-bottom: 30px;
    font-weight: 500px;
    position: relative;
}

.footer-col h4 ::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #000;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: #fff;
    text-decoration: none;
    font-weight: 300;
    color: #fff;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover

/*moving transition*/
    {
    color: #f1f1f1;
    padding-left: 10px;
}

.footer-col .social-links a

/*original */
    {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 209, 156, 0.3);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #fff;
    transition: all 0.5s ease;
}

.footer-col .social-links a:hover

/*after effect*/
    {
    color: #24262b;
    background-color: #ffffff;
}

/*titles for each kind*/
.sec1 {
    position: absolute;
    left: 0%;
    color: #ccc;
    background-color: #121212;
    top: 8.2%;
    right: 88%;
    z-index: 0;
}

.sec2 {
    position: absolute;
    left: 0%;
    color: #ccc;
    background-color: #121212;
    top: 26.8%;
    right: 88%;
    z-index: 0;
}

.sec3 {
    position: absolute;
    left: 0%;
    color: #ccc;
    background-color: #121212;
    top: 42%;
    right: 88%;
    z-index: 0;
}

.sec4 {
    position: absolute;
    left: 0%;
    color: #ccc;
    background-color: #121212;
    top: 57.5%;
    right: 86%;
    z-index: 0;
}

.sec5 {
    position: absolute;
    left: 0%;
    color: #ccc;
    background-color: #121212;
    top: 74.2%;
    right: 88%;
    z-index: 0;
}

.sec6 {
    position: absolute;
    left: 0%;
    color: #ccc;
    background-color: #121212;
    top: 82.5%;
    right: 88%;
    z-index: 0;
}

/*the favourite idea*/
.heart {
    font-size: 30px;
    cursor: pointer;
    color: black;
    /* Default color */
}